.logo {
    max-width: 8%;
    height: auto;
}

.main-name {
    margin: 10px 16px;
}

.ml-auto {
    margin: 20px
}

.Navbar {
    justify-content: flex-end;
}

a.nav-link {
    padding: 12px;
    margin-right: 15px;
}

.main-name .Navbar {
    font-size: larger;
}