.card_container {
    /* padding: 100px 50px 50px; */
    /* background-color: #BDBDBD; */
    
}

.card_team {
    /* padding: 50px; */
    background-color: #8B9199;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.team_image {
    /* height: 300px;
    width: 400px; */
    overflow: hidden;
    object-fit: cover;
    object-position:top;
}

.team_info {
    background-color: #1F2937;
    color: aliceblue;
}
/* 
.img_container_team{
    height: 300px;
    width: 300px;

} */